*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root{
  
  --left-panel-bg-color:#5a4274;
  --right-panel-bg-color:#f8f8f2;
  
}
body{
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  background-color: var(--left-panel-bg-color)
}

button {
  cursor: pointer;
  border: none;
}


.root-containers{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to right ,
    var(--left-panel-bg-color) 0,
    var(--left-panel-bg-color) 50%,
    var(--right-panel-bg-color) 30%);

}
.left-panel{
  padding: 1rem;
  color: var(--right-panel-bg-color);
}

.title{
  font-size: 1.5rem;
  font-weight: bold;
}

.subtitle{
  font-size: 1rem;
}

input, button{
  border-radius: 1rem;
  padding: 0.3rem;
  
}
input::placeholder{
  padding: 0.5rem;
  
}
.btn-go-profile {
 background-color: var(--left-panel-bg-color);
 color: var(--right-panel-bg-color);
 text-transform: uppercase;
}

.left-panel p{
  margin: 1rem;
}

.left-panel {
  border-radius: 1rem;
  border: 1px solid;
  margin: 1rem;
  min-width: 250px;
}
.main-infos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
button, input{
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.new-root-container{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 4rem;
  color: var(--right-panel-bg-color);
 
}

.refresh-button{
    text-transform: uppercase;
    background-color: var(--left-panel-bg-color);
    color: var(--right-panel-bg-color);
    border: 1px solid var(--right-panel-bg-color);
}
.refresh-button:hover{
  background-color: var(--right-panel-bg-color);
  color: var(--left-panel-bg-color);
  border: 1px solid var(--left-panel-bg-color);
}


.profile-card{
  max-width: 700px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  border: 1px solid;
  padding: 2rem;
  border-radius: 1rem;
}

.list-of-repositories{
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  gap: 1rem;
}

li{
  flex: 1 1 250px;
  max-height: fit-content;
  display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--right-panel-bg-color);
  transition: box_shadow .25s ease-in;
  
}
li:hover, .profile-card, .left-panel{
   box-shadow: rgba(255, 255, 255, 0.5) 5px 3px,
     rgba(255, 255, 255, 0.4) 10px 6px,
     rgba(255, 255, 255, 0.3) 15px 9px;
    
}


li p{
  word-break: break-all;
  margin: 0.7rem;
}


.display-none {
  display: none;
}

@media(max-width:1090px) and (min-width: 750px) {
    .left-panel, .right-panel{
      width: 250px;
    }
}


@media(max-width:749px) and (min-width:420px){
    
  .root-containers {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10rem;
      background-image: linear-gradient(to bottom,
          var(--left-panel-bg-color) 0,
          var(--left-panel-bg-color) 50%,
          var(--right-panel-bg-color) 30%);
  
  }

    .title {
      font-size: 1.2rem;
      font-weight: bold;
    }
  
    .subtitle {
      font-size: 0.8rem;
    }

  .profile-card {
      max-width: 370px;
      min-width: 200px;
  }
  /* .list-of-repositories {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
      row-gap: 1rem;
      padding: 1rem;
    } */
  

}
@media(max-width:419px) and (min-width:300px) {

  .root-containers {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8rem;
      padding: 2rem;
      background-image: linear-gradient(to bottom,
          var(--left-panel-bg-color) 0,
          var(--left-panel-bg-color) 50%,
          var(--right-panel-bg-color) 30%);
  
    }
  
    .title {
      font-size: 1rem;
      font-weight: bold;
    }
  
    .subtitle {
      font-size: 0.7rem;
    }
  
  

}


@media(max-width:490px) and (min-width:369px){
 


} 
.display-none {
  display: none;
}
